    @-webkit-keyframes autofill { to { color: #666; background: transparent; } }
    input:-webkit-autofill { -webkit-animation-name: autofill; -webkit-animation-fill-mode: both; -webkit-text-fill-color: white !important; }

    html,body { width:100%; height:100%; background:#111; }
    html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    canvas { display:block; vertical-align:bottom; }

    #particles-js { width: 100%; height: 100%; background-color: black; background-image: url('/static/common/img/login_map_2.jpg'); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }
    #main-container { width: 470px; height: 300px; font-family: "Raleway"; background: rgba(53, 53, 53, 0.8); position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto; }
    #logo-container { vertical-align: top; display: inline-block; width: 200px; height: 100%; border: 0px blue solid; color: #c1c1c1; padding-right: 10px;}
    #login-container { vertical-align: top; display: inline-block; width: 250px; height: 100%; border: 0px red solid; color: #c1c1c1; font-size: 11px; padding: 12px; }

    .auth-title { font-size: 18px; width: 100%; text-align: center; }
    .login-title { margin-bottom: 45px; margin-top: 10px; }
    .logout-title { margin-bottom: 30px; margin-top: 60px;}
    .register-title { margin-bottom: 10px; margin-top: 0px; }
    .change-title { margin-bottom: 30px; margin-top: 30px;}

    .input-title { font-size: 10px; margin-top: 12px; margin-bottom: 2px; }
    .auth-button { width: 100%; padding-top: 5px; padding-bottom: 5px; margin-top: 8px; margin-bottom: 4px; font-size: 10px; border: 0px; background: #2fbd78; border-radius: 12px; color: white; }
    .auth-button:hover { background: #888888; }
    .auth-toggle { display: inline-block; width: 100%; text-align: center; margin-top: 5px; }
    .auth-user {  width: 100%; text-align: center; margin-top: -5px; margin-bottom: 20px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
    .auth-title { font-size: 40px; width: 100%; text-align: center; margin-top: 115px; }
    .auth-subtitle { font-size: 25px; margin-top: -5px; margin-left: 80px; }
    .auth-input { width: 100%; background: transparent; border: none; border-bottom: 1px #c1c1c1 solid; color: white; }
    #auth-msg { color: #2fbd78; padding-top: 4px; }