{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta name="_token" content="{{ csrf_token }}">

  <!-- start christmas lights -->
  <!--
  <script type="text/javascript" src="{% static '/js/snowstorm.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/christmaslights-sound.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/christmaslights-animation.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/christmaslights.js' %}"></script>
  <link rel="stylesheet" href="{% static '/css/christmaslights.css' %}" />
  -->
  <!-- end christmas lights -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <script src="https://clusterize.js.org/js/vendor/modernizr.js"></script>
  <script src="https://clusterize.js.org/js/vendor/prism.js"></script>
  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clusterize.js/0.18.0/clusterize.js"></script>
  <script type="text/javascript" src="{% static 'common/js/jquery.easy-autocomplete.js' %}"></script>
  <script type="text/javascript" src="{% static 'common/js/tree.jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'common/js/cc-main.js' %}"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clusterize.js/0.18.0/clusterize.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'common/css/easy-autocomplete.css' %}"/>
  <link rel="stylesheet" href="{% static 'common/css/easy-autocomplete.themes.css' %}"/>
  <link rel="stylesheet" href="{% static 'common/css/jqtree.css' %}"/>
  <link rel="stylesheet" href="{% static 'common/css/cc-main.css' %}"/>

</head>
<body>
  <div id="lights">
  </div>
  <div class="nav-container">
    <div id="nav-main-map" class="nav-icon"><i class="fas fa-map-marker-alt"></i></div>
    <div id="nav-quote-list" class="nav-icon" title="quotes"><i class="fas fa-list-ul"></i></div>
    <div id="nav-order-list" class="nav-icon" title="orders"><i class="fab fa-codepen"></i></div>
    <div id="nav-r1-list" class="nav-icon" title="nbn sq report"><i class="fas fa-chart-pie"></i></div>
  </div> <!-- end nav container -->

  <div class="main-container">

    <div id="main-header"></div>

    <div class="crumb-header">
      <div class="list-crumb-text">quotes</div>
      <div id="filter-counts-text"></div>
      <input type="text" id="list-quote-search" placeholder="type filter term/s"/>
      <button id="list-quote-new">create</button>
    </div>

    <div class="page-container">

      <div id="scrollArea" class="list-page-div">
        <div id="contentArea" class="clusterize-content">
          <div class="clusterize-no-data">Loading data…</div>
        </div>
      </div>
      <div id="quote-edit-container" class="list-popup-div"></div>
      <div id="quote-new-container" class="list-popup-div"></div>

    </div> <!-- end page container -->

  </div> <!-- end main container -->
  <script>
    $(document).ready(function () {
      {% if request.user.is_authenticated %}userName = '{{ user.username }}';{% endif %}
      renderHdr('#main-header');
      clusterize = new Clusterize({ rows: list_quotes_rows, scrollId: 'scrollArea', contentId: 'contentArea' });
      refreshListQuotesData();
    });
  </script>
</body>
</html>