<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- for jquery -->
<script language="javascript" type="text/javascript">  
  $(document).ready(function(){

    $('#core_start').click(function() {
      $.ajax({url: "/api/core/start/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });
    $('#core_stop').click(function() {
      $.ajax({url: "/api/core/stop/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });
    $('#core_status').click(function() {
      $.ajax({url: "/api/core/status/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });
    $('#core_state').click(function() {
      $.ajax({url: "/api/core/state/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });

    $('#cgate_start').click(function() {
      $.ajax({url: "/api/cgate/start/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });
    $('#cgate_stop').click(function() {
      $.ajax({url: "/api/cgate/stop/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });
    $('#cgate_status').click(function() {
      $.ajax({url: "/api/cgate/status/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });
    $('#cgate_state').click(function() {
      $.ajax({url: "/api/cgate/state/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });

    $('#hue_start').click(function() {
      $.ajax({url: "/api/hue/start/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });
    $('#hue_stop').click(function() {
      $.ajax({url: "/api/hue/stop/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });
    $('#hue_status').click(function() {
      $.ajax({url: "/api/hue/status/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });
    $('#hue_state').click(function() {
      $.ajax({url: "/api/hue/state/", success: function(result){
        alert(JSON.stringify(result));
       }});
    });

  });
</script>

</head>
<body>
  <table border="1">
    <tr>
      <td align="center">Interface</td>
      <td width="100"></td>
      <td width="100"></td>
      <td width="100"></td>
      <td width="100"></td>
    </tr>
    <tr>
      <td id="event_light">Core [core]</td>
      <td align="center"><button id="core_start">Start</button></td>
      <td align="center"><button id="core_stop">Stop</button></td>
      <td align="center"><button id="core_status">Status</button></td>
      <td align="center"><button id="core_state">State</button></td>
    </tr>
    <tr>
      <td id="cgate_light">Clipsal C-Bus [cgate]</td>
      <td align="center"><button id="cgate_start">Start</button></td>
      <td align="center"><button id="cgate_stop">Stop</button></td>
      <td align="center"><button id="cgate_status">Status</button></td>
      <td align="center"><button id="cgate_state">State</button></td>
    </tr>
    <tr>
      <td>Philips Hue [hue]</td>
      <td align="center"><button id="hue_start">Start</button></td>
      <td align="center"><button id="hue_stop">Stop</button></td>
      <td align="center"><button id="hue_status">Status</button></td>
      <td align="center"><button id="hue_state">State</button></td>
    </tr>
  </table>

</body>
</html>